.selectableTableCells td.highlighted {
    background-color: rgba(160, 195, 255, 0.35);
}
.selectableTableCells thead th.highlighted:not(:first-child), tbody th.highlighted {
    background-color: gray;
}
.autofill-cover {
    cursor:crosshair;
}
.selectableTableCells #hiddenTable {
  display: block;
  position: absolute;
  left: -100000px !important;
  top: -100000px !important;
}
.selectableTableCells #hiddenTable table tr:first-child {
  position: relative;
  top: initial;
  left: initial;
}
.selectableTableCells #hiddenTable table tr:first-child td {
  color: #000;
}
table.selectableTableCells {
    user-select: none;
    -webkit-user-select: none;
}
.selectableTableCells table#theHiddenTable {
    user-select: text !important;
    -webkit-user-select: text !important;
    margin: 0 !important;
    padding: 0 !important;
    border-spacing: 0 !important;
}
.selectableTableCells table#theHiddenTable * {
    color: #000 !important;
    font-size: 12px !important;
    font-family: Arial, Helvetica, sans-serif !important;
    padding: 5px !important;
}
.selectableTableCells td.highlighted.top {
    border-top:2px solid #4285f4 !important;
}
.selectableTableCells td.highlighted.bottom {
    border-bottom:2px solid #4285f4 !important;
}
.selectableTableCells td.highlighted.left {
    border-left:2px solid #4285f4 !important;
}
.selectableTableCells td.highlighted.right {
    border-right:2px solid #4285f4 !important;
}